@{
    ViewBag.Title = "Página Principal";
}

<div class="container">
    <h1>Email Confirmado</h1>
    <p class="lead">
        Exemplo de como fazer uma confirmação de dados do usuário conencio de um email para o email que o usuário informou.<br />
        Clique no botão <b>REGISTRO</b> acima para ver o exemplo. Ou no botão <b>REGISTRAR</b> abaixo:
    </p>
    <p><a class="btn btn-preto" href="../Conta/Registrar"> Registrar &raquo;</a></p>

</div>

<br />
<br />

<div class="container">
    <h2>Avisos</h2>
    <p>
        <ol style="list-style-type:decimal">
            <li>Problemas, dicas e explicações extras veja o arquivo <i>LEIAME.txt</i> anexo ao projeto.</li>
            <li>
                Este exemplo está totalmente baseado no "Curso de ASP.NET Identity parte 1: Gerencie contas de usuários" fornecido pela Alura de autoria de
                Guilherme Matheus Costa.
            </li>
        </ol>
    </p>
    <p><a class="btn btn-preto" target="_blank" href="https://cursos.alura.com.br/course/csharp-aspnet-identity-pt1">Saiba mais &raquo;</a></p>
</div>
